<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adimin Creation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'kc/css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'kc/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'kc/css/sb-admin.css'%}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'kc/css/ehr.css'%}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'kc/css/bootstrap-multiselect.css'%}">
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'kc/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js.map"></script>

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <style>
        .navbar {
            padding: 0px;
        }
        #admin-form 
        {
            display:none
        }
        .bg-dark {
            background: #ffff !important;
        }

        .fixed-action-btn {
            top: 53px !important;
            right: auto;
            margin-left: 2px;
        }

        #logo-container {
            height: 100%;
            width: 19%;
            padding: 0px;
        }
        .form-control:disabled, .form-control[readonly] {
            background-color: #ffff;
            opacity: 1;
        }
        .mandatory{
            color: tomato
        }
        .ui-widget{
        font-family:apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important
        }
        .ui-dialog {
            /* position: absolute; */
            /* height: auto; */
            width: 800px !important;
            /* top: 154px; */
            /* left: 496.5px; */
            /* box-shadow: 0px 0px 20px 2px #888888; */
            /* display: block; */
        }
        .table td, .table th {
            text-align: center !important;
            /* padding: 15px 5px !important; */
        }
        label {
            font-size: 1.2rem;
            color: #000;
        }
        .field {
            margin-bottom: 10px;
            padding-top: 8px;
            font-size: small;
        }
        .ui-dialog .ui-dialog-title {
            float: left;
            margin: .1em 0;
            white-space: nowrap;
            font-size: 20px;
            width: 90%;
            overflow: hidden;
            font-weight: 100;
            text-overflow: ellipsis;
            font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
        }
        .nav-link-text{
            font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;

        }
         .caret{
            display: none;
        }
         input.select-dropdown{
            display: none !important;
        }
        /* multi select */
        .btn {
            white-space: initial !important;
            background-color: white !important;
            border-color: #cccccc;
            color: black;
            overflow: hidden;
            height: 35px !important;
            width: 212px !important;
        }

        .dropdown-menu {
            /* transform: translate3d(0px, 0px, 0px) !important; */
            max-height: 200px;
            overflow: scroll;
        }
        ::-webkit-scrollbar {
            width: 0.4em !important;
            height:  0 !important;
        }

        .multiselect-clear-filter {
            display: none;
        }
        .multiselect-search{
            margin-right: 8px;
        }

        @media (min-width: 992px) {
            .col-lg-3 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 19%;
                flex: 0 0 19%;
                max-width: 25%;
                padding-top: 34px;
            }
        }

        @media (min-width: 992px) {
            .col-lg-12 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                /* padding-top: 60px; */
            }
        }

        body {
            background-color: #ffff;
            font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
        }
	#watermark
        {
        padding-right: 10px;
        position: fixed;
        bottom:5px;
        right:5px;
        opacity:0.6;
        z-index:99;
        color:#293d3d;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        }
    </style>
     
</head>

<body>
<span id="watermark" style="font-size:1.64rem;" unselectable="on">Powered by 
<span style="font-size:1.64rem; color: #64c1b1">CYGEN</span>
</span>
    <header>
        <div class="navbar-fixed">
            <nav class="white top-nav nav-extended" role="navigation">
                <div class="nav-wrapper container-fluid">
                    <span>
                        <img src='{% static "sreesend/img/aimh.1.png" %}' alt="logo" id="logo-container"
                            class="brand-logo">
                    </span>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a onclick="window.location.pathname='/logout/'" data-toggle="modal"
                                data-target="#exampleModal" style="color:black; font-size: 16px;">
                                Logout</a>

                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--Sidenav-->
        <div class="container">
                <ul id="slide-out" class="sidenav">
                    <!-- sidenav-fixed-->
                    <li>
                        <div class="user-view">
                            <div class="background"><img src="{% static 'kc/img/sideimg.jpg' %}"></div>
                            <a href="#user"><img class="circle" src="{% static 'kc/img/doctor.jpg' %}"></a>
                            <a href="#name"><span class="white-text name">{{request.user.first_name}}</span></a>
                            <a href="#email"><span class="white-text email">{{request.user.email}}</span></a>
                        </div>
                    </li>
    
                    <li class="nav-item" data-toggle="tooltip" data-placement="right">
                        <a  class="nav-link" href='/admindashboard/'>
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                            <span class="nav-link-text"
                                style="font-family: sans-serif;font-size:16px!important;">Dashboard</span></a>
                    </li>
                    {% if user %}
                    <li class="nav-item" data-toggle="tooltip" data-placement="right">
                        <a style="background-color:#69b7dd;" class="nav-link" href='/adminlist/'>
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <span class="nav-link-text"
                                style="font-family: sans-serif;font-size:16px!important;color:#fff">Admin</span></a>
                    </li>
                    {% endif %}
                    <li class="nav-item" data-toggle="tooltip" data-placement="right">
                        <a  class="nav-link" href='/doctorlist/'>
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                            <span class="nav-link-text"
                                style="font-family: sans-serif;font-size:16px!important;">Doctor</span></a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right">
                        <a class="nav-link" href='/nurselist/'>
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                            <span class="nav-link-text"
                                style="font-family: sans-serif;font-size:16px!important">Nurse</span></a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right">
                        <a class="nav-link" href='/medtechlist/'>
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            <span class="nav-link-text"
                                style="font-family: sans-serif;font-size:16px!important">MedTech</span></a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right">
                        <a class="nav-link" href='/corporatehrlist/'>
                             <i class="fa fa-users" aria-hidden="true"></i>
                            <span class="nav-link-text"
                                style="font-family: sans-serif;font-size:16px!important">Corporate HR</span></a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right">
                        <a class="nav-link" href='/distributerlist/'>
                            <i class="fa fa-hospital-o" aria-hidden="true"></i>
                            <span class="nav-link-text"
                                style="font-family: sans-serif;font-size:16px!important">Distributor</span></a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right">
                        <a class="nav-link" href='/branchlist/'>
                            <i class="fa fa-building-o" aria-hidden="true"></i>
                            <span class="nav-link-text"
                                style="font-family: sans-serif;font-size:16px!important">Branch</span></a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right">
                        <a class="nav-link" href='/corporatebranchlist/'>
                            <i class="fa fa-industry" aria-hidden="true"></i>
                            <span class="nav-link-text"
                                style="font-family: sans-serif;font-size:16px!important">Corporate Branch</span></a>
                    </li>
                    
                </ul>
    
            </div>
        <!--Sidenav end-->

    </header>

    <div class="content">
        <div class="fixed-action-btn ">
            <a href="#" data-target="slide-out" id="sidetrigger" class="left btn-floating  red sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </div>
 <!-- <div class="content-wrapper"> -->
        <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-details" >
                        <h3 style="text-align: center;font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;">Admin</h3>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div style="margin-top: 10px;" class="add-btn right">
                                    <i class="fa fa-plus fa-lg adding admin-adduser" aria-hidden="true"
                                        title="Create New Admin"></i>
                                </div>
                                <div class="Search">
                                    <input id="myInput" type="search" class="adminput form-control" data-table="order-table"
                                        placeholder="Search">
                                </div>
                            </div>
                        </div>
    
                        <!--create doctor-->
                        {% csrf_token %}
                        <div class="manage-table">
                            <div id="admin-form" title="Admin profile">
                                <form autocomplete="off">
                                    <fieldset>
                                        <div class="fields">
                                            <div class="user-info" >
                                                <div class="row">
                                                    <div class="col-md-2 required">
                                                        <label for="fname" class="field">First Name<span class="mandatory">*</span></label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text"
                                                            title="Please enter your first name. Special charecter and numeric values are not allowed "
                                                            onkeydown="return /[a-zA-Z\s]/i.test(event.key)" name="fname"
                                                            id="admfname" value="" class="form-control" />
                                                    </div>
                                                    <div class="col-md-2 ">
                                                        <label for="mname" class="field">Middle Name</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" name="mname" id="admmname" value=""
                                                            class="form-control"
                                                            title="Please enter your middle name. Special charecter and numeric values are not allowed "
                                                            onkeydown="return /[a-zA-Z\s]/i.test(event.key)" />
                                                    </div>
                                                    <div class="col-md-2 required">
                                                        <label for="lname" class="field"> Last Name<span class="mandatory">*</span></label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text"
                                                            title="Please enter your last name. Special charecter and numeric values are not allowed "
                                                            onkeydown="return /[a-zA-Z\s]/i.test(event.key)" name="lname"
                                                            id="admlname" value="" class="form-control" minlength="1"
                                                            maxlength="35" />
                                                    </div>
                                                    <div class="col-md-2 required">
                                                        <label for="contact" class="field">Contact No<span class="mandatory">*</span></label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="input-group-prepend ">
                                                            <input id="admCountryCode" style=" height:35px !important;width: 46px;" class="form-control " readonly value="+63">
                                                            <input style=" height:35px !important;" name="contact"
                                                                id="admcontact" class="form-control "
                                                                title="Contact number must be 10 digits"
                                                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                                onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.key === "Backspace"'
                                                                type="number" maxlength="10" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2" id="admgendername">
                                                        <label for="Gender" class="field">Gender<span class="mandatory">*</span></label>
                                                    </div>
                                                    <div class="col-md-4" id="admgendername">
                                                        <select style=" height:40px !important;" class="form-control" id="admgender"
                                                            title="Select gender" >
                                                            <option value="" disabled selected>Select
                                                            </option>
                                                            <option value="Male">Male
                                                            </option>
                                                            <option value="Female">Female
                                                            </option>
                                                            
                                                        </select>
    
                                                    </div>
                                                    <div class="col-md-2 required" id="admemaillabel">
                                                        <label for="email" class="field"> Email<span class="mandatory">*</span></label>
                                                    </div>
                                                    <div class="col-md-4" id="admemailinput">
                                                        <input type="text" autocomplete="off"
                                                            title="Enter a valid email address" name="email" id="admemail"
                                                            value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                                            class="form-control" />
    
                                                    </div>
                                                    <!-- <div class="col-md-12"> -->
                                                    <div class="status" id="dialogboxAdmin" style="display: none;">
                                                        <span id="errorMessage" style="font-size:12px; color:red"
                                                            class="alert " role="alert">
                                                        </span>
                                                    </div>
                                                    <!-- </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
    
                            <div class="manage-table">
                                <table class="table table-bordered table-striped order-table table responsive-table"
                                    style="    font-size: 13px;">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Contact No</th>
                                            <!-- <th>Edit</th> -->
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="admindata">
                                        <tr >
                                        </tr>
                                    </tbody>
                                </table>
    
                            </div>
                        </div>
                        <!--create user-->
                        {% csrf_token %}
    
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
   
    <script>
        $('#toggleNavPosition').click(function () {
            $('body').toggleClass('fixed-nav');
            $('nav').toggleClass('fixed-top static-top');
        });
        $(document).ready(function(){
            $('select').formSelect();
        });
        $(document).ready(function() {
            $('#docgender').formSelect();
            
        });
    </script>
    <script>
        var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        window.drf = {
            csrfHeaderName: "X-CSRFTOKEN",
            csrfCookieName: "csrftoken"
        };

    </script>
    <!-- <script>
        function get_doctor_data(call_back){
 console.log(" ### get_patient_data ###");
         $.ajax({
             type: "GET",
             url: "/getdoctors/",
             contentType: "application/json",
             dataType: "json",
             success: function (data, status) {
            //        alert("Data: " + data + "\nStatus: " + status);
                    call_back(data,status);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                //Process error actions
                console.log( XMLHttpRequest.responseText);
                console.log(XMLHttpRequest.status + ' ' +
                    XMLHttpRequest.statusText);

                return false;
              }
        });
}
    </script> -->
    <script>
   (function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _filter(row) {
			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('adminput');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);
</script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <script src='{% static "kc/js/init.js" %}'></script>
    <script src='{% static "kc/js/materialize.js" %}'></script>
    <script src='{% static "kc/js/adminscript.js" %}'></script>
    <script src='{% static "kc/js/adminajax.js" %}'></script>

    <script>
        $("#admin-form").hide()
function delete_admin(id,call_back){
    jQuery.ajax({
        url: '/admin/' + id + "/",
	headers: { "X-CSRFToken": $crf_token },
        type: 'DELETE',
        success: function (data, status) {
            call_back(data, status);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            //Process error actions
            // console.log(XMLHttpRequest.responseText);
            console.log(XMLHttpRequest.status + ' ' +
                XMLHttpRequest.statusText);
            return false;
        }
    });
}
        function save_staff(data, call_back) {
    // console.log("save staff")
    $.ajax({
        type: "POST",
        url: "/admin/",
        data: JSON.stringify(data),
        headers: { "X-CSRFToken": $crf_token },
        contentType: "application/json",
        dataType: "json",
        success: function (data, status) {
            //        alert("Data: " + data + "\nStatus: " + status);
            call_back(data, status);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            var a = JSON.parse(XMLHttpRequest.responseText);
            console.log('json object of a :', a)
            var b = a.doc;
	    for (let errorMessage of Object.values(a.user)) {
               var err=''
               err += errorMessage;
                $("#dialogboxAdmin").show();
                $("#errorMessage").html(err);
                $("#dialogboxAdmin").delay(4000).fadeOut();
            }
            return false;
        }
    });
}
function get_admin_data(call_back) {
    // console.log(" ### get_doctors_data ###");
    $.ajax({
        type: "GET",
        url: "/admins/",
        contentType: "application/json",
        dataType: "json",
        success: function (data, status) {
            //        alert("Data: " + data + "\nStatus: " + status);
            call_back(data, status);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            //Process error actions
            // console.log(XMLHttpRequest.responseText);
            console.log(XMLHttpRequest.status + ' ' +
                XMLHttpRequest.statusText);

            return false;
        }
    });
}

    $(function () {
    var load_admin = function () {
        get_admin_data(function (data, status) {
            var admin_view = ""
            // console.log("get doctor data", data)
            if (data.length >= 0) {
                for (var i = 0; i < data.length; i++) {
                    var alr = data[i]
                    admin_view += '<tr >';
                    admin_view += '<td><span>' + alr.first_name + ' ' + '</span><span>' + alr.middle_name + ' ' + '</span><span>' + alr.last_name + '</span></td>';
                    admin_view += '<td style="display: none;" ><span>' + alr.gender + '</span></td>';
                    var a = alr.phone.split(" ");
                    var phon = a[1]
                    // console.log("phone number " + phon)
                    admin_view += '<td ><span>' + alr.user.email + '</span></td>';
                    admin_view += '<td ><span>' + phon + '</span></td>';
                   
                    
                    // admin_view += '<td><a style="color: #64c1b1; " href="javascript:void(0)" data-id="' + alr.staff.id + '" class="adminedit fa fa-pencil-square-o "></a> </td>';
                    admin_view += '<td><a style="color: #64c1b1; ;"  href="javascript:void(0)" data-id="' + alr.user.id + '" class="admindelete fa fa-trash-o"></a></td>';

                    admin_view += '</tr>';
                }
                $("#admindata").html(admin_view);


            }
        });
    }
    $("#admin-form").hide()
    var new_dialog = function (type, row, admin_id) {
        var dlg = $("#admin-form");
        type = type || 'Create';
        var config = {
            autoOpen: true,
            height: 300,
            width: 786,
            modal: true,
            buttons: {
                "Create": save_admin_data,
                "Cancel": function () {
                    dlg.dialog("close");
                }
            },
            close: function () {
                dlg.dialog("close");
            }
        };

        if (type === 'Edit') {
            get_doctor_data_for_edit(row);
            delete (config.buttons['Create']);
            config.buttons['Save'] = function () {
                edit_doctor_data(admin_id)
                row.remove();
            };
            config.buttons['Cancel'] = function () {
                $("#admfname").val("");
                $("#admmname").val("");
                $("#admlname").val("");
                $("#admcontact").val("");
                $("#admgender,#admgendername").val("").show();
                $("#admemaillabel,#admemailinput").val("").show();
                load_admin();
                dlg.dialog("close");
            };
        }
        dlg.dialog(config);
        function get_admin_data_for_edit(row) {
            $("#admfname").val($(row.children().find('span').get(0)).text());
            $("#admmname").val($(row.children().find('span').get(1)).text());
            $("#admlname").val($(row.children().find('span').get(2)).text());
            $("#admcontact").val($(row.children().find('span').get(9)).text());
            $("#admgender,#admgendername").hide();
            $("#admemaillabel,#admemailinput").hide();
           
        }
        function edit_admin_data(id) {
            var fname = $("#admfname").val();
            var mname = $("#admmname").val();
            var lname = $("#admlname").val();
            var countryCode = $("#admCountryCode").val();
            var contactNo = $("#admcontact").val();
            var contact = countryCode + ' ' + contactNo;
                        
            if (fname == '') {
                $("#dialogboxAdmin").show();
                $("#errorMessage").html('First name is mandatory');
                $("#dialogboxAdmin").delay(4000).fadeOut();
            }
            else if (lname == '') {
                $("#dialogboxAdmin").show();
                $("#errorMessage").html('First name is mandatory');
                $("#dialogboxAdmin").delay(4000).fadeOut();
            }

            else if ( contactNo.length <= 9) {
                if (contactNo == '') {
                    $("#dialogboxAdmin").show();
                    $("#errorMessage").html('First name is mandatory');
                    $("#dialogboxAdmin").delay(4000).fadeOut();
                }
                else if(contactNo.length < 10){
                    $("#dialogboxAdmin").show();
                    $("#errorMessage").html('First name is mandatory');
                    $("#dialogboxAdmin").delay(4000).fadeOut();
                }
            }
            
           
            else {

                var admin_data = {
                    "staff": id,
                    "pro": {
                        "first_name": fname,
                        "middle_name": mname,
                        "last_name": lname,
                        "user_type": 1,
                        "phone": contact
                    }
                }
                // console.log("", doctor_data)
                update_staff(admtor_data, function (data, status) {
                    if (status == "success") {
                        $("#admfname").val("");
                        $("#admmname").val("");
                        $("#admlname").val("");
                        $("#admcontact").val("");
                        $("#admgender,#admgendername").val("").show();
                        $("#admemaillabel,#admemailinput").val("").show();
                        
                        load_admin();
                        dlg.dialog("close");
                    }
                });
            }
        }

        function save_admin_data() {

            var fname = $("#admfname").val();
            var mname = $("#admmname").val();
            var lname = $("#admlname").val();
            var countryCode = $("#admCountryCode").val();
            var contactNo = $("#admcontact").val();
            var contact = countryCode + ' ' + contactNo;
            // console.log(contact)
            var gender = $("#admgender").val();
            var email = $("#admemail").val();
                       
            var atposition=email.indexOf("@");  
            var dotposition=email.lastIndexOf(".");  
            
            if (fname == '') {
                $("#dialogboxAdmin").show();
                $("#errorMessage").html('First name is mandatory');
                $("#dialogboxAdmin").delay(4000).fadeOut();
            }
            else if (lname == '') {
                $("#dialogboxAdmin").show();
                $("#errorMessage").html('First name is mandatory');
                $("#dialogboxAdmin").delay(4000).fadeOut();
            }

            else if ( contactNo.length <= 9) {
                if (contactNo == '') {
                    
                    $("#dialogboxAdmin").show();
                $("#errorMessage").html('Contact number is mandatory');
                $("#dialogboxAdmin").delay(4000).fadeOut();
                }
                else if(contactNo.length < 10){
                    $("#dialogboxAdmin").show();
                $("#errorMessage").html('Contact number should be 10 digits');
                $("#dialogboxAdmin").delay(4000).fadeOut();
                }
            }
            else if(gender==null){
                $("#dialogboxAdmin").show();
                $("#errorMessage").html('Gender is mandatory');
                $("#dialogboxAdmin").delay(4000).fadeOut();
            }
            else if (atposition<1 || dotposition<atposition+2 || dotposition+2>=email.length) {
                if (email == ''){
                    $("#dialogboxAdmin").show();
                    $("#errorMessage").html('Email address is mandatory');
                    $("#dialogboxAdmin").delay(4000).fadeOut();
                   
                }
                else {
                    $("#dialogboxAdmin").show();
                    $("#errorMessage").html('Please enter a valid e-mail address');
                    $("#dialogboxAdmin").delay(4000).fadeOut();
                } 
            }
           
            else {

                var admin_data = {

                    "email": email,
                    "gender": gender,
                    "first_name": fname,
                    "middle_name": mname,
                    "last_name": lname,
                    
                    "user_type": 1,
                    "phone": contact,
                   
                }

                save_staff(admin_data, function (data, status) {
                    if (status == "success") {
                        $("#admfname").val("");
                        $("#admmname").val("");
                        $("#admlname").val("");
                        $("#admcontact").val("");
                        $("#admgender,#admgendername").val("").show();
                        $("#admemail,#admemailname").val("");
                       
                        load_admin();

                        dlg.dialog("close");
                    }
                });
            }
        }
    };


    $(document).on('click', 'a.admindelete', function () {
        id = $(this).data('id');
        delete_admin(id, function (data, status) {
            load_admin();
        });
        return false;
    });
    $(document).on('click', 'td a.adminedit', function () {
        new_dialog('Edit', $(this).parents('tr'), $(this).data('id'));
        return false;
    });
    $(".admin-adduser").button().click(new_dialog);

    load_admin();

});
    </script>
</body>

</html>