<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
        <title>HealthTech</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="keywords" content="HTML5 Template" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{% static 'sreesend/img/logo1.png' %}"  />
  <title>HealthTech</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i&amp;subset=latin-ext" rel="stylesheet">
  <link href="{% static 'navbarcss/bootstrap.min.css'%}"  rel="stylesheet">
    <link href="{% static 'navbarcss/chartist.css'%}"  rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'navbarcss/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{% static 'navbarcss/sb-admin.css'%}" rel="stylesheet">
    <link href="{% static 'navbarcss/pro.css'%}" rel="stylesheet">

   <!--<script src='{% static "js/charts/Chart.bundle.js"%}'></script>-->
    <!--<script src='{% static "js/charts/utils.js"%}'></script>-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
     <script type="text/javascript" src="/static/sreesend/js/raphael-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/sreesend/js/justgage.js"></script>
  <!-- Bootstrap core CSS-->

<link href="https://fonts.googleapis.com/css?family=Lato:400,400i&amp;subset=latin-ext" rel="stylesheet">
</head>

<body >

  <!-- Navigation-->

  <div class="content-wrapper">



 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="row" id="graph">
   <div class="ct-chart ct-perfect-fourth">


                <script>
                var ndate={{todayhel.0|safe}};

    var nsysto = {{todayhel.1|escapejs}};
    var ndiasto = {{todayhel.2|escapejs}};
    var ngluc = {{todayhel.3|escapejs}};
    var nhdl = {{todayhel.4|escapejs}};
    var ntc = {{todayhel.5|escapejs}};
var chart = new Chartist.Line('.ct-chart', {
  labels: ndate,
  series: [
    nsysto,
    ndiasto,
    ngluc,
    nhdl,
    ntc
  ]
},{
  low: 0
});


var seq = 0,
  delays = 80,
  durations = 500;


chart.on('created', function() {
  seq = 1;
});


chart.on('draw', function(data) {
  seq++;

  if(data.type === 'line') {

    data.element.animate({
      opacity: {

        begin: seq * delays + 1000,

        dur: durations,

        from: 0,

        to: 1
      }
    });
  } else if(data.type === 'label' && data.axis === 'x') {
    data.element.animate({
      y: {
        begin: seq * delays,
        dur: durations,
        from: data.y + 100,
        to: data.y,

        easing: 'easeOutQuart'
      }
    });
  } else if(data.type === 'label' && data.axis === 'y') {
    data.element.animate({
      x: {
        begin: seq * delays,
        dur: durations,
        from: data.x - 100,
        to: data.x,
        easing: 'easeOutQuart'
      }
    });
  } else if(data.type === 'point') {
    data.element.animate({
      x1: {
        begin: seq * delays,
        dur: durations,
        from: data.x - 10,
        to: data.x,
        easing: 'easeOutQuart'
      },
      x2: {
        begin: seq * delays,
        dur: durations,
        from: data.x - 10,
        to: data.x,
        easing: 'easeOutQuart'
      },
      opacity: {
        begin: seq * delays,
        dur: durations,
        from: 0,
        to: 1,
        easing: 'easeOutQuart'
      }
    });
  } else if(data.type === 'grid') {

    var pos1Animation = {
      begin: seq * delays,
      dur: durations,
      from: data[data.axis.units.pos + '1'] - 30,
      to: data[data.axis.units.pos + '1'],
      easing: 'easeOutQuart'
    };

    var pos2Animation = {
      begin: seq * delays,
      dur: durations,
      from: data[data.axis.units.pos + '2'] - 100,
      to: data[data.axis.units.pos + '2'],
      easing: 'easeOutQuart'
    };

    var animations = {};
    animations[data.axis.units.pos + '1'] = pos1Animation;
    animations[data.axis.units.pos + '2'] = pos2Animation;
    animations['opacity'] = {
      begin: seq * delays,
      dur: durations,
      from: 0,
      to: 1,
      easing: 'easeOutQuart'
    };

    data.element.animate(animations);
  }
});


chart.on('created', function() {
  if(window.__exampleAnimateTimeout) {
    clearTimeout(window.__exampleAnimateTimeout);
    window.__exampleAnimateTimeout = null;
  }
  window.__exampleAnimateTimeout = setTimeout(chart.update.bind(chart), 1200000);
});


</script>

 </div>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
         <div class="graph-color">
<div class="colors"><div class="sys"></div><label class="color-name">Systolic</label></div>
 <div class="colors"><div class="dia"></div><label class="color-name">Diastolic</label></div>
 <div class="colors"><div class="glu"></div><label class="color-name">Glucose</label></div>
 <div class="colors"><div class="hdl"></div><label class="color-name">HDL cholesterol (mg/dl)</label></div>
 <div class="colors"><div class="tcl"></div><label class="color-name">Total cholesterol (mg/dl)</label>
</div></div></div>
 </div>


 </div>



      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="row" id="graph1">
    <div class="da4">

                      <div class="da42">
                            <div id="g4" class="gauge1" style="
                            margin: 0 auto;">

                            </div>
                      </div>
                    <script>
                                var final_score='{{ bp_score }}';


                          var g4 = new JustGage({
                            id: 'g4',
                            value: final_score,
                            min: 0,
                            max: 5,
                            symbol: '',
                            donut: true,
                            width: 150,
                            height: 150,
                            pointer: true,
                            gaugeWidthScale: 0.4,
                             textRenderer: customValue,
                            pointerOptions: {
                              toplength: 10,
                              bottomlength: 10,
                              bottomwidth: 8,
                              color: '#000'
                            },
                            counter: true
                          });

                            function customValue(val) {
                            if(!final_score ){

   return 'NA';
}
                                    else if (val>=0 && val < 3) {

                                    return 'Low';
                                } else if (val === 3) {                                  
                                    return 'Average';
                                } else if (val > 3 ) {
                                    return 'High';
                                }

                                 };
                                 
                    </script>
        <div class="da41"><b>Hypertension</b></div>

        <div class="da43" id="result_text">

        </div>
         </div>

          <div class="da5">

                  <div class="da52">

                            <div id="gg1" style="margin: 0 auto;">

                            </div>
                            <script>
                                var point_result='{{ h_per }}';

                                var gg1 = new JustGage({
                            id: 'gg1',
                            value: point_result,
                            min: 0,
                            max: 13,
                            symbol: '',
                            donut: true,
                            width: 150,
                            height: 150,
                            pointer: true,
                            gaugeWidthScale: 0.4,
                             textRenderer: customValue,

                            pointerOptions: {
                              toplength: 10,
                              bottomlength: 10,
                              bottomwidth: 8,
                              color: '#000'
                            },
                            counter: true
                          });
                                function customValue(val) {
if(!point_result){
return 'NA';}
                                else  if (val <= 7) {
                                    return 'Low';
                                } else if (val >= 8 && val <= 11) {
                                    return 'Average';
                                } else if (val >= 12) {
                                    return 'High';
                                }

                                 };
                            </script>

                  </div>
               <div class="da51">
                  <b>Cardiac</b>
              </div>
               <div class="da53" id="result_text1">

        </div>
          </div>

        <div class="da6">

                <div class="da62"> <div class="wrapper">

                <div id="g3" class="gauge" style="margin: 0 auto;"></div></div>
              </div>


                     <script>
                         var total_points='{{ dia_score }}';
              var g3 = new JustGage({
                id: 'g3',
                value: total_points,
                min: 0,
                max: 10,
                symbol: '',
                donut: true,
                pointer: true,
                width: 150,
                            height: 150,
                 textRenderer: customValue,

                gaugeWidthScale: 0.4,
                pointerOptions: {
                  toplength: 10,
                  bottomlength: 10,
                  bottomwidth: 8,
                  color: '#000'
                },
                counter: true
              });
              function customValue(total_points) {
              if(!total_points ){
               return 'NA';
                }
                else if (total_points>0 && total_points < 5) {
                                 return 'Low';
                                } else if (total_points === 5) {
                                    return 'Average';
                                } else if ((total_points >5 && total_points <= 10) || total_points ===-1) {
                                    return 'High';
                                }

                                 };
            </script>
  <div class="da61"><b>Diabetes</b></div>
               <div class="da63" id="result_text2">

        </div>
        </div>
        <div class="da7">

                <div class="da72"> <div class="wrapper">

                <div id="g5" class="gauge" style="margin: 0 auto;"></div></div>
              </div>


                     <script>
                         var total_points='{{ bmi }}';
              var g5 = new JustGage({
                id: 'g5',
                value: total_points,
                min: 0,
                max: 45,
                symbol: '',
                donut: true,
                width: 150,
                height: 150,
                pointer: true,
                gaugeWidthScale: 0.4,
                 textRenderer: customValue,

                pointerOptions: {
                  toplength: 10,
                  bottomlength: 10,
                  bottomwidth: 8,
                  color: '#000'
                },
                counter: true
              });
              function customValue(val) {
                                    if (val < 18.5) {

                                    return 'Low';
                                } else if (val >= 18.5 && val <= 24.9 ) {
                                    return 'Normal';
                                }
                                 else if (val > 24.9 && val <=  29.9) {
                                    return 'High';
                                }else if (val > 29.9) {
                                    return 'Extreme';
                                }
                                 };
            </script>
 <div class="da71"><b>Obesity</b></div>
             <div class="da63" id="result_text3">

        </div>
        </div>
</div>
</div>
  </div>

    <!-- Bootstrap core JavaScript-->

    <script src='{% static "js/bootstrap.bundle.min.js" %}'></script>


</body>

</html>
