<!DOCTYPE html>


{% load static %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Health Packages</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'kc/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
     <link href="{% static 'kc/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'kc/css/cygen.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
   <style>
        #logo-container {
            height: 100%;
            width: 17%;
            padding: 4px;
        }
        #watermark
        {
        padding-right: 10px;
        position: fixed;
        bottom:5px;
        right:5px;
        opacity:0.4;
        z-index:99;
        color:#293d3d;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        }
        main {
            padding: 1%;
            background-color: #F5F7FA
        }

        .fixed-action-btn {
            top: 53px !important;
                right: auto; 
                margin-left: 2px; 
        }

        .heading {
            font-size: 24px;
            font-weight: 300;
        }

        .risk_scores {
            display: flex
        }

        .cards {
            min-height: 100%;

            /* max-height:430px */
        }


        .disclaimer {
            padding: 15px;
            font-size: 11px;
            text-align: justify;
            border: 2px solid #585353;
        }

        .paragraph {
            font-size: 15px
        }
        .ul{
            list-style: disc !important;
        }
.card-content{
    height: 360px;
}
.card-footer{
    text-align: center;
}
@media only screen and (max-width: 992px){

        nav .brand-logo {
    padding:2px;
      left: 0px;
    -webkit-transform: none;
    transform: none;
}
.risk_scores {
    display: inherit;
}
}
    </style>
</head>

<body>
        <span id="watermark" style="font-size:1.64rem;" unselectable="on">Powered by <span style="font-size:1.64rem; color: #64c1b1">CYGEN GROUP</span></span>

    <header>
        <nav class="white top-nav" role="navigation">
            <div class="nav-wrapper container-fluid">
                <span>
                    <img src='{% static "sreesend/img/aimh.1.png" %}' alt="logo" id="logo-container" class="brand-logo">
                </span>
                <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'healthandrecords:first_form' %}">Evaluation Form</a></li>
                        <li><a href="#health_index_modal" class="modal-trigger">Health Index</a></li>
                        <li>
                            <a href="#!" class="dropdown-trigger" data-target="dropdown1">Account Settings
                                <i class="material-icons right">arrow_drop_down</i></a>
                        </li>
                    </ul>
                    <!-- <ul id="nav-mobile" class="sidenav">
                        <li><a href="evaluation_form.html">Evaluation Form</a></li>
                        <li><a class="dropdown-trigger" href="#!" data-activates="dropdown1">Account</a></li>
                    </ul> -->

            </div>
        </nav>
        <!--Sidenav-->
        <div class="container">
            <ul id="slide-out" class="sidenav">
                <!-- sidenav-fixed-->
                <li>
                    <div class="user-view">
                        <div class="background"><img src="{% static 'kc/img/sideimg.jpg' %}"></div>
                        <a href="#user"><img class="circle" src="{% static 'kc/img/doctor.jpg' %}"></a>
                        <a href="#name"><span class="white-text name">{{request.user.first_name}}</span></a>
                        <a href="#email"><span class="white-text email">{{request.user.email}}</span></a>
                    </div>
                </li>
                <li><a href='{% url "healthandrecords:health_ana" %}'><i class="material-icons small">dashboard</i>Dashboard</a></li>
                <li>
                    <a href='{% url "foodandacti:personal_info_update" %}'><i class="fas fa-utensils fa-2x"></i>Diet</a>
                </li>
                <li><a href='{% url "foodandacti:activityredirct" %}'><i class="material-icons small">directions_run</i>Activities and Fitness</a></li>
                <li>               <li>
                <li><a href='{% url "foodandacti:summary" %}'><i class="fas fa-book-open fa-2x"></i>Summary</a></li>

                <!-- <li><a href='{% url "healthandrecords:cygenpacks" %}'><i class="fas fa-heartbeat fa-2x"></i>Health Package</a></li>
                <li><a href="#!"><i class="fas fa-piggy-bank fa-2x"></i>Insurance Packs</a></li>
                <li><a href="#!"><i class="far fa-hospital fa-2x"></i>Hospital Packs</a></li>
                 <li><a href="{% url 'healthandrecords:first_form' %}">Evaluation Form</a></li> -->
                        <li><a href="#health_index_modal" class="modal-trigger">Health Index</a></li>
                        <li>
                            <a href="#!" class="dropdown-trigger" data-target="dropdown2">Account Settings
                                <i class="material-icons right">arrow_drop_down</i></a>
                        </li>
            </ul>

        </div>
        <!--Sidenav end-->
    </header>
    <br>
    <!-- Main-->
    <main>
        <!--Account Settings-->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href='{% url "foodandacti:summary" %}'><i class="material-icons">account_circle</i>Profile</a></li>
            <li><a href="#!"><i class="material-icons">settings</i>Settings</a></li>
            <li class="divider"></li>
            <li><a href='{% url "before_l:logout_view" %}'><i class="material-icons">power_settings_new</i>Logout</a></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
            <li><a href='{% url "foodandacti:summary" %}'><i class="material-icons">account_circle</i>Profile</a></li>
            <li><a href="#!"><i class="material-icons">settings</i>Settings</a></li>
            <li class="divider"></li>
            <li><a href='{% url "before_l:logout_view" %}'><i class="material-icons">power_settings_new</i>Logout</a></li>
        </ul>

        <div class="container-fluid">
            <!--menu button-->
            <div class="fixed-action-btn ">
                <a href="#" data-target="slide-out" id="sidetrigger" class="left btn-floating  red sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
            </div>

            <!-- packages -->
            <div class="row risk_scores">
                <!--Basic-->
                <div class="col m3 s12">
                    <div class="card cards">
                        <div class="card-content">
                            <span class="card-title center-align red-text">
                               &nbsp;Basic Package</span>
                            <h6 class="indigo-text">Tests Offered</h6>
                            <ul>
                                <li>Blood Sugar ( Random) </li>
                                <li>Lipid Profile</li>
                                <li>ECG</li>
                            </ul>

                        </div>
<div class="card-footer"><button class="btn green lighten-2 center">Subscribe for 15 USD</button></div>
                    </div>
                </div>
                <!--Silver-->
                <div class="col m3 s12">
                    <div class="card cards">
                        <div class="card-content">
                            <span class="card-title center-align red-text">

                                &nbsp;Silver Package</span>
                            <h6 class="indigo-text">Tests Offered</h6>
                            <ul>
                                <li>Complete blood count</li>
                                <li>Blood Sugar (PP + Fasting ) </li>
                                <li>HBA1C</li>
                                <li>Lipid Profile</li>
                                <li>Liver function test</li>
                                <li>Kidney function test</li>
                                <li>ECG</li>
                            </ul>

                        </div>
<div class="card-footer"> <button class="btn green lighten-2 center">Subscribe for 40 USD</button></div>
                    </div>
                </div>
                <!--Gold-->
                <div class="col m3 s12">
                    <div class="card cards">
                        <div class="card-content">
                            <span class="card-title center-align red-text">

                                &nbsp;Gold Package</span>
                            <h6 class="indigo-text">Tests Offered</h6>
                            <ul>
                                <li>Complete blood count</li>
                                <li>Blood Sugar (PP + Fasting ) </li>
                                <li>HBA1C, Lipid Profile</li>
                                <li>Thyroid profile</li>
                                <li>Liver function test, Serum Calcium</li>
                                <li>Kidney function test, Urine Routine</li>
                                <li>Vit B12, Vit D, ECG</li>
                            </ul>

                        </div>
<div class="card-footer"> <button class="btn green lighten-2 center">Subscribe for 60 USD</button></div>
                    </div>
                </div>
                <!--Premium-->
                <div class="col m3 s12">
                    <div class="card cards">
                        <div class="card-content">
                            <span class="card-title center-align red-text">
                                
                                &nbsp;Premium Package</span>
                            <h6 class="indigo-text">Tests Offered</h6>
                            <ul>
                                <li>Complete blood count</li>
                                <li>Blood Sugar (PP + Fasting ) </li>
                                <li>HBA1C, Lipid profile</li>
                                <li>Thyroid profile</li>
                                <li>Liver function test, Serum Calcium</li>
                                <li>Kidney function test, Urine Routine</li>
                                <li>Vit B12, Vit D, ECG</li>
                                <li>Treadmill Test or 2D Echo</li>
                            </ul>
                           
                        </div>
<div class="card-footer"> <button class="btn green lighten-2 center">Subscribe for 125 USD</button></div>
                    </div>
                </div>
            </div>

            <!-- Added Cygen benifits -->
            <div class="row card">
                <div class="">
                    <div class="card-content">
                        <span class="card-title red-text"><i class="material-icons indigo-text">playlist_add</i>
                            Added Cygen benefits for all packages</span>
                            <div class="col m4">
                                <ul class="ul">
                                    <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Cygen Registration Records</li>
                                    <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Online Digital Medical Records</li>
                                    <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Blood Pressure</li>
                                    <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Height</li>
                                    <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Weight</li>
                                </ul>
                            </div>
                            <div class="col m4">
                                <ul class="ul">
                                    <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Heart Rate</li>
                                    <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Temperature</li>
                                    <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Blood Oxygen Saturation</li>
                                    <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Body Mind Index(BMI)</li>
                                    <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Health Score</li>
                                </ul>
                            </div>
                            <div class="col m4">
                                <ul class="ul">
                                        <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Medicine , Vaccination And Doctor's Appointment Reminder.</li>
                                        <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Cygen Disease Prediction For Different Chronic Disease (Hypertension , Diabetes , Cardiovascular
                                            Diseases , etc).</li>
                                        <li><i class="material-icons tiny">fiber_manual_record</i>&nbsp;Preventive Measures (Including Customized Daily Dietary And Health Tips).</li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>


    </main>
    <footer class="">

    </footer>

    <!--Health Index Modal-->
    <div id="health_index_modal" class="modal">
        <div class="modal-content">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat right">Close</a>
            <h5>Health Index Assessment</h5>
            <br>
            <form>
                <div class="row" style="background-color: #F5F7FA">
                    <div class="col m2"></div>
                    <div class="col m4">
                        <div class="input-field">
                            <input type="text" class="datepicker" id="assess_for_date">
                            <label for="assess_for_date">Select Date</label>
                        </div>
                        <div class="input-field">
                            <input type="number" id="systolic_assess">
                            <label for="systolic_assess">Systolic Pressure</label>
                        </div>
                        <div class="input-field">
                            <input type="number" id="diastolic_assess">
                            <label for="diastolic_assess">Diastolic Pressure</label>
                        </div>
                    </div>
                    <div class="col m4">
                        <div class="input-field">
                            <input type="number" id="glucose">
                            <label for="glucose">Glucose Level</label>
                        </div>
                        <div class="input-field">
                            <input type="number" id="hdl_cholestrol">
                            <label for="hdl_cholestrol">HDL Cholesterol(mg/dl)</label>
                        </div>
                        <div class="input-field">
                            <input type="number" id="total_cholestrol">
                            <label for="total_cholestrol">Total Cholesterol(mg/dl)</label>
                        </div>
                    </div>
                    <div class="col m2"></div>

                </div>
                <div class="right">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">

        </div>
    </div>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src='{% static "kc/js/init.js" %}'></script>
    <script src='{% static "kc/js/materialize.js" %}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".modal").modal();
            $('.datepicker').datepicker({
                format: "yyyy-mm-dd",
                autoClose: true
               });
            $('select').formSelect();
                        $('.dropdown-trigger').dropdown({ hover: true });

        });
    </script>

</body>

</html>
