<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>HealthTech</title>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="{% static 'navbarcss/bootstrap.min.css'%}"  rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'navbarcss/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{% static 'navbarcss/sb-admin.css'%}" rel="stylesheet">
     <link href="{% static 'navbarcss/apollos2.css'%}" rel="stylesheet">



</head>

<body>

  <div class="content-wrapper">
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href='{% url "before_l:index" %}'>Logout</a>
          </div>
        </div>
      </div>
    </div>
<div class="container">
          <div class="row">


<div class="col-md-6 col-sm-12 col-xs-12 insur">

<div class="hp">
    {% for plans in insurance2 %}
                        <div class="g0">


                            <div class="g2">
                                <img class="img1" src="/static/sreesend/img/plans/{{plans.imgn}}" >
                            </div>
                            <div class="g3">

                                <b>{{plans.plan}}</b>
                            </div>
                            <div class="g4">
                               {{plans.summary}}
                            </div>
                            <div class="g5">
                                <button  type="button" class="but1" onclick="window.location.href= '{{ plans.get_absolute_url }}'">Read more</button>
                            </div>
                        </div>  {% endfor %} </div></div>

                      <div class="col-md-6 col-sm-12 col-xs-12 insur">

<div class="hp">
                       {% for plans in insurance1 %}
                            <div class="g01">
                            <div class="g2">
                                <img class="img1" src="/static/sreesend/img/plans/{{plans.imgn}}" >
                            </div>
                            <div class="g3">

                                <b>{{plans.plan}}</b>
                            </div>
                            <div class="g4">
                                 {{plans.summary}}
                            </div>
                            <div class="g5">
                                <button  type="button" class="but1" onclick="window.location.href='{{ plans.get_absolute_url }}'">Read more</button>
                            </div>

                        </div>
                        {% endfor %}
                    </div>

</div>
    </div>
</div>
      </div>
<script src='{% static "js/bootstrap.bundle.min.js" %}'></script>


</body>

</html>
