.cygenpack{
    margin-top: 80px;
}
.packs{
    box-shadow: 2px 2px 10px 0px #45454582;
    -webkit-box-shadow: 2px 2px 10px 0px #45454582;
     -moz-box-shadow:2px 2px 10px 0px #45454582;
    margin-bottom: 15px;
    border-radius: 0px;
    margin-left: 10px;
}
.pack-header{
        padding: 17px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(17, 45, 65, 0.6);
}
.add-packs{
    text-align: center;
    font-size: 13px;
}
.pack-benefits{
        margin-left: -50px;
    font-size: 13px;
    /* width: 230px; */
    text-align: justify;
}
.pack-benefits,li{
color:black;
}
.package-text{
    padding-bottom: 10px;
    color: #454545;
    background-color: #45454517;
}
.pack-test{
    padding-top: 10px;
}
.pay{
       border: none;
    background-color: #017b8b;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 3px;
    text-transform: uppercase;
        cursor: pointer;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
button{
    background: none;
}